<!DOCTYPE html>
<html>
<head>
<title> </title>

<!--STYLESHEET-->
<link rel="stylesheet" type="text/css" href="mystyle.css">

<!--CUSTOM FONT-->
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/buy">Shop</a></li>
	</ul>
</div>

<div class="banner">
	<img src="images/banners/BannerOrange.jpg">
</div>


<div class="content3">
	<div class="contentcontent">
	<h3 style="color:red"><%= @alert %></h3>
	<br />
		<h1>Order Now!</h1>
	<!--Copy paste code from product_form-->
	
	<h3>All Products</h3>
        <table class="table">
          <thead>
			<tr>
				<td>Name</td>
				<td>Price</td>
				<td>Quantity Available</td>
			</tr>
		   </thead>
		<tbody>
          <% @product.each do |product| %>
            <tr>
				<td><%= product.name %></td>
				<td><%= product.price %></td>
				<td><%= product.quantity %></td>
				<% if product.quantity == 0 %>
				<td><a href="/buy_product/<%= product.id %>" class="btn btn-default btn-primary" disabled>Purchase</a></td>
				<% else %>
				<td><a href="/buy_product/<%= product.id %>" class="btn btn-default btn-primary">Purchase</a></td>
				<% end %>
			</tr>
		   <% end %>
		</tbody>
		</table>
		<br />
		</div>
</div>

</body>
</html>