<!DOCTYPE html>
<html>
<head>
<title>Aling Nena</title>

<!--STYLESHEET-->
<link rel="stylesheet" type="text/css" href="/mystyle.css">

<!--CUSTOM FONT-->
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar">
	<ul>
		 <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/buy">Shop</a></li>
	</ul>
</div>

<div class="banner">
	<img src="/images/banners/BannerOrange.jpg">
</div>
<div class="content">
	<div id="leftpart">
		<h2>Congratulations!</h2>
<h4>You gave:&nbsp<%= @given %></h4>
<h4>Your due:&nbsp<%= @due %></h4>
<h4>You bought:&nbsp<%= @quantity %>&nbsp<%= @title %></h4>
<h4>Your change is <%= @change %></h4>

<br />
<h4>You will receive your change in the form of:</h4>
<ul>
<% @hash.each_pair do |key, value| %>
<li><%= value %>&nbsp<%= key %></li>
<% end %>
</ul>
<a href = "/"><input type="button" value="Done!"></a>
	</div>
	
	<div id="mid">
	
		<div id="midtop">
			<img src="/images/kids01.jpg">
		</div>
		
		
		<div id="midcenter">
			<div id="midcentercontent">
				<h1>Filipino Love</h1>
			</div>
		</div>
		
		
		<div id="midbot">
			<img src="/images/kids02.jpg">
		</div>
		
	</div>
	
	<div id="rightpart">
		<div id="bs">
		<h1>Mission:</h1>
			<h4>Here at Aling Nena's, serving is our passion. We are a company that does not only provide quality and affordable goods, but we also reach out and give back to others.
			Every store is part of a community, and we take our responsibility to invest and build that family.
			We will share that warm Filipino Love in all shapes and sizes.
			<br />
			<br />
		<h5>A Portion of your money will be contributed for the betterment of the Philippines</h5>
		<br />
		<h4>“It's not how much we give but how much love we put into giving.” </h4>
		<h6>-Mother Teresa</h6>
		</div>
		
		<div id="contact">
			<h5>Telephone Number: 1234567</h5>
			<h5>Email:Nenarockz_123@yahoo.com</h5>
			<h5>Facebook: facebook.com/Nenarokzz</h5>
		</div>
</div>

</body>
</html>