<!DOCTYPE html>
<html>
<head>
<title> </title>

<!--STYLESHEET-->
<link rel="stylesheet" type="text/css" href="/mystyle.css">

<!--CUSTOM FONT-->
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/buy">Shop</a></li>
	</ul>
</div>

<div class="banner">
	<img src="/images/banners/BannerOrange.jpg">
</div>

<form method = "POST" action="/confirm/<%= @product.id %>">
<div class="content">

	<div id="leftpart">
	<h3 style="color: red"><%= @alert %></h3>
		<h3>You have bought:</h3>
		<h4>&nbsp<%= @quantity %>&nbsp<%= @title %></h4>
		<h3>Your total amount due:</h3>
		<h4>&nbsp<%= @due %></h4>
	</div>
	
	<div id="mid">
	
		<div id="midtop">
			<img src="/images/kids01.jpg">
		</div>
		
		
		<div id="midcenter">
			<div id="midcentercontent">
				<h1>Filipino Love</h1>
			</div>
		</div>
		
		
		<div id="midbot">
			<img src="/images/kids02.jpg">
		</div>
		
	</div>
	
	<div id="rightpart">
		<div id="bs">
			<h3>Please Input How Will You Pay:</h3>
<h4>1000 bills:<span><input type="text" name="one_thousand_bill"></span></h4>

<h4>500 bills:&nbsp&nbsp<span><input type="text" name="five_hundred_bill"></span></h4>

<h4>200 bills:&nbsp&nbsp<span><input type="text" name="two_hundred_bill"></span></h4>

<h4>100 bills:&nbsp&nbsp<span><input type="text" name="one_hundred_bill"></span></h4>

<h4>50 bills:&nbsp&nbsp&nbsp<span><input type="text" name="fifty_bill"></span></h4>

<h4>20 bills:&nbsp&nbsp&nbsp<span><input type="text" name="twenty_bill"></span></h4>

<h4>10 coins:&nbsp&nbsp<span><input type="text" name="ten_coin"></span></h4>

<h4>5 coins:&nbsp&nbsp&nbsp<span><input type="text" name="five_coin"></span></h4>

<h4>1 coins:&nbsp&nbsp&nbsp<span><input type="text" name="one_coin"></span></h4>
<button type="submit" class="payments">Confirm!</button>

		</div>
		
		<div id="contact">
			<h5>Telephone Number: 1234567</h5>
			<h5>Email:Nenarockz_123@yahoo.com</h5>
			<h5>Facebook: facebook.com/Nenarokzz</h5>
		</div>

</body>

<script>
		function getTotal()
		{
			var aQuantity = document.getElementById("aquantity").value;
			var aPrice = document.getElementById("aprice").innerHTML;
			var total=aPrice*aQuantity;
			//document.getElementById("final").innerHTML = total.toString();
			document.getElementById("final").value = total.toString();
		}
		
		
	</script>
</html>